// JourneyMap configuration file. Modify at your own risk!
// To use in all worlds, place here: journeymap\config\5.0\
// For more information, go to: http://journeymap.techbrew.net/help/wiki/Options_Manager
{
  "enabled": false,
  "port": 8080,
  "googleMapApiDomain": ".com",
  "preferredMapType": "day",
  "showMobs": true,
  "showAnimals": true,
  "showVillagers": true,
  "showPets": true,
  "showPlayers": true,
  "showWaypoints": true,
  "showSelf": true,
  "entityIconSetName": "2D",
  "zoomLevel": 0,
  "disabled": false,
  "configVersion": {
    "major": 5,
    "minor": 0,
    "micro": 1,
    "patch": ""
  }
}