*.jar filter=lfs diff=lfs merge=lfs -text
# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc  diff=astextplain
*.DOC  diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF  diff=astextplain
*.rtf  diff=astextplain
*.RTF  diff=astextplain

# Normalize text files
*.zs            text
*.txt           text
*.cfg           text
*.ini           text
*.js            text
*.md            text
*.html          text
*.csv           text
*.css           text
*.htm           text
*.html          text
*.json          text
*.properties    text
*.sh            text
*.xml           text
*.recipe        text
*.recipes       text
*.conf          text
*.toc           text
*.lang          text
*.config        text


# Binaries
*.jar         binary
*.jpg         binary
*.jpeg        binary
*.png         binary
*.bin         binary
*.zip         binary
*.disabled    binary
*.hqm         binary
*.hqm-backup  binary
