*.jar filter=lfs diff=lfs merge=lfs -text
# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc  diff=astextplain
*.DOC  diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF  diff=astextplain
*.rtf  diff=astextplain
*.RTF  diff=astextplain

# Text files
*.zs        text
*.conf      text
*.ini       text
*.cfg       text
*.js        text
*.txt       text
*.json      text
*.xml       text
*.lang      text
*.recipes   text

# Special ones
AmadronOffersPeriodic.cfg       -text
AmadronOffersStatic.cfg         -text
AmadronTradingSettings.cfg      -text
ProgrammingPuzzleBlacklist.cfg  -text