# Configuration file

general {
    I:SMPMaxAlarmRange=256
    I:alarmRange=64
    S:allowedAlarms=default,sci-fi
    B:disableCapes=false
    S:httpSensorKey=b1d1320ba85d4274860711c17219cd4f
    I:infoPanelRefreshPeriod=20
    B:isHttpSensorAvailableClient=false
    B:isHttpSensorAvailableServer=true
    I:maxAlarmRange=128
    I:rangeTriggerRefreshPeriod=20

    # Valid inputs: normal, old or gregtech [default: normal]
    S:recipes=gregtech
    I:remoteThermalMonitorEnergyConsumption=1
}


