# Configuration file

chunkloader {

    playerQuotaOverride {
    }

}


general {
    B:autoAssign=false
    B:chunkloader.allowFuelPiping=true
    B:chunkloader.bypassForgeChunkLimits=true
    B:chunkloader.enableCrafting=true

    # comma-separated list of mod:item-name@meta=number-of-ticks or mod:item-name=number-of-ticks
    S:chunkloader.fuels=Forestry:peat=135000,minecraft:coal@0=108000,gregtech:gt.metaitem.01@2006=405000,minecraft:magma_cream=162000,minecraft:coal@1=21600,EnderIO:itemMaterial@6=2592000,minecraft:nether_star=7776000,Thaumcraft:ItemResource=432000,gregtech:gt.metaitem.01@2017=270000,Railcraft:fuel.coke=216000,Forestry:bituminousPeat=283500,HardcoreEnderExpansion:living_matter=5184000
    B:chunkloader.hideOtherPlayersLoadersInF9=false

    # Maximum number of chunks loaded by each player. Use -2 for unlimited.
    I:chunkloader.maxChunksPerPlayer=-2

    # If true, chunkloaders placed by a player will only load chunks while that player is online.
    B:chunkloader.requireOnline=false
    B:chunkloader.useFuel=true

    # name of TPS command, without the slash. leave blank to disable.
    S:core.command.tps.name=tps
    B:core.ignoreBuildcraftCore=false
    B:core.ignoreBuildcraftTransport=false
    B:core.ignoreIC2=false

    # advanced setting: comma-separated list of classes to ignore when generating dynamic inheritance chains
    S:core.mictransformer.ignoredClasses=

    # Which power system should be used (for blocks that support this option). Possible values are: ic2 (IndustrialCraft 2's energy network), redstoneFlux (Thermal Expansion's power system, also used by BuildCraft and other mods), infinite (power is free)
    S:preferredEnergySystem=ic2
}


logging {
    # Name of a file to keep updated with a list of all active chunk loaders. Blank for none.
    S:chunkloader.listFileName=

    # Name of a file to log creation, deletion and editing of chunk loaders to. Blank for none.
    S:chunkloader.logFileName=
}


