# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=11023fe8-9d4d-48f7-ab26-62892c2f8855

    # Set to true to disable all reporting
    B:opt-out=false
}


